{% extends "template.html" %} 
{% block content %}
<div class="row">
	<div class="columns small-6 medium-4">
		<center class="vertical-mid">
			<a href="{{ url_for("login") }}" class="button radius red"><b>Login</b></a>
		</center>
	</div>
	<div class="columns medium-4 show-for-medium-up">
	<img src="{{ url_for("static", filename="img/round-struck.png") }}" alt="Logo"/>
	</div>
	<div class="columns small-6 medium-4">
		<div class="p-100">
			<center class="vertical-mid">
				<a href="{{ url_for("register") }}" class="button radius red"><b>Register</b></a>
			</center>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns small-12">
		<strong>Freestyle Pen and Paper at your fingertips.</strong>
		Play a story driven campaign with a lightweight system. 
		Or play a dice driven madnass - it's up to you.
	</div>
</div>
{% endblock %}
