{% extends "template.html" %}
{% block content %}
<form action="/login" method="post">
	<p>Username: <input name="username" type="text"></p>
	<p>Password: <input name="password" type="password"></p>
	<input class="button" type="submit">
</form>
{% endblock %}
