<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Shadowhelper</title>
		<link rel="stylesheet" href="{{ url_for("static", filename="css/foundation.css") }}" />
		<script src="{{ url_for("static", filename="js/vendor/modernizr.js") }}"></script>
		<link rel="shortcut icon" type="image/png" href="{{url_for("static", filename="img/favicon.png") }}"/>
		<link rel="stylesheet" href="{{ url_for("static", filename="css/my.css") }}" />
	</head>

	<body>

		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="{{url_for("index") }}">Shadowhelper</a></h1>
				</li> 
			</ul>

			<section class="top-bar-section">
				<ul class="right">
					{% for item in menu %}
						{% if current_user.is_authenticated() == item.login %}
						<li><a href="{{url_for(item.url)}}">{{item.name}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				
			</section>

		</nav>

		<div class="content">
		{% block content %}
		{% endblock %}
		</div>

		<script src="{{ url_for("static", filename="js/vendor/jquery.js") }}"></script>
		<script src="{{ url_for("static", filename="js/foundation.min.js") }}"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
